<header id="header" class="d-flex">
  <h3 class="headerTitle">EmployeeInformation</h3>
  <a routerLink="/page1" >See Employee</a>
  <a routerLink="/page2" >Add Employee</a>
  <a routerLink="/datatable" >See Databases Only</a>
</header>
<div style="padding-bottom: 50px">
  <router-outlet *ngIf="loading"></router-outlet>
</div>

<footer id="footer" class="d-flex">
  <a style="color: white">About us</a>
  <a style="color: white">Our other works</a>
  <a style="color: white">© 2020-2025</a>
</footer>

<script src="app/Services/MenuService/menu.service.ts"></script>
